@model MCVParte1.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div>

        @*<label>Inngrese su nombre: </label>
        <label>Inngrese su apellido:</label>
        <label>Inngrese su edad:</label>*@

        <label>Mi nombre es: @Model.Nombre</label><br />
        <label>Mi apellido es: @Model.Apellido</label><br />
        <label>Mi edad es: @Model.Edad</label><br />


    </div>
</body>
</html>
